<ion-view view-title="Carrito">
<div ng-controller="shoppingCarController">
    <ion-content style="background-color: #F1F1F1;background-image:url('img/background-content.png')">
     <div class="content has-header padding" ng-show="$root.shoppingCart.length == 0">
        <div class="padding-example text-center">
          <div>
            <i style="font-size: 100px;color:#C5C5C5" class="icon ion-information-circled"></i>
            <p>No existen productos</p>
            <a href="" ng-click="back()">Regresar</a>
          </div>
        </div>
      </div>
      <ion-list>
      <a on-double-tap="remove(record)" class="item item-thumbnail-left" href="#"  ng-repeat="record in $root.shoppingCart">
        <img ng-src="{{record.data.gallery[0].URL}}">
        <h2>{{record.data.producto}}</h2>
        <p>{{record.data.descripcion}}</p>
        <span class="" style="font-size:14px;color:#f1c504"><strong style="font-family: monospace;">{{record.data.precio_venta | currency:"$ "}}</strong></span>
        <div class="qty" style="position: absolute;top: -12px;left: 36px;">
          <span class="badge badge-positive" style="position: relative;float: left;">{{record.data.unidades}}</span>
        </div>
      </a>
      </ion-list>
    </ion-content>
    <ion-footer-bar ng-hide="$root.shoppingCart.length == 0" align-title="left">
      <div style="text-align:center">
        <button ng-click="formInfo()" class="button button-custom icon ion-paper-airplane">
           Facturar
        </button>
      </div>
      <div class="col"  style="text-align:center" ><strong class="sub-footer-text">{{total | currency:"$ "}} COP</strong></div>
    </ion-footer-bar>  
</div>

</ion-view>
