<ion-modal-view>
  <ion-header-bar style="background-color: #FF0A21;border-color: #CA0000;" class="bar bar-header bar-positive">
    <h1 class="title">Dirección de entrega</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding"  style="background-color: #F1F1F1;background-image:url('img/background-content.png')">
    <div class="list">
    <div class="seller" ng-show="$root.user.type == 'SELLER'" ng-init="load()">
         <label class="item item-input   item-floating-label">
             <span class="input-label " style="color:black!important;">Cliente</span>
             <input type="text" style="color:black!important;" required ng-model="$parent.$parent.$parent.form._client.name" placeholder="Clientes">
         </label>
          <a href="" cancel-button="Cerrar" has-search="true" cancel-search-button="Limpiar" clear-search-on-select="true" search-placeholder="Buscar Cliente" reset-button="Limpiar" modal-select ng-model="$parent.$parent.$parent.form._client" options="records" modal-title="Cliente" style="float: right;font-size: 12px;position: relative;
        top: -7px;">Cliente
        <div class="option">
            {{(option.name + " " +option.last_name)}}
        </div>
        </a>        
    </div>
     <label class="item item-input item-floating-label" >
         <span class="input-label" style="color:black!important;">Ciudad</span>
         <input type="text" style="color:black!important;" required ng-model="$parent.$parent.$parent.form.metadata.ciudad" placeholder="Ciudad">
     </label>
     <label class="item item-input item-floating-label">
         <span class="input-label " style="color:black!important;">Barrio</span>
         <input type="text" style="color:black!important;" required ng-model="$parent.$parent.$parent.form.metadata.barrio" placeholder="Barrio">
     </label>
     <label class="item item-input   item-floating-label">
         <span class="input-label " style="color:black!important;">Direccion</span>
         <input type="text" style="color:black!important;" required ng-model="$parent.$parent.$parent.form.metadata.direccion" placeholder="Dirección">
     </label>
     <label class="item item-input  item-floating-label" style="width:100%;">
         <span class="input-label " style="color:black!important;">Telefono</span>
         <input type="tel" style="color:black!important;" required ng-model="$parent.$parent.$parent.form.metadata.telefono" placeholder="Telefono">
     </label>
     <label>
        <textarea style="padding: 5px;width: 100%;background-color: #DEDEDE;" ng-model="$parent.$parent.$parent.form.metadata.nota"  placeholder="escribe una nota..." rows="10" cols="35">
      </textarea>
     </label>
      <button class="button button-full button-custom icon ion-paper-airplane" ng-click="sendRequest()">Enviar Pedido</button>
    </div>
  </ion-content>
</ion-modal-view>