.bar-header{

}

.bar .title{
    color:gray;
}

.tabs{

}

.tab-item .icon {
    color: gray;
}

.action-product{
    color: gray!important;
}

.action-product i{
    color: gray!important;
}

.tab-title{
    color:gray;
}

.bar-stable .button.button-clear {
    color: #FFF!important;
}

.badge-tiny{
    font-size: 9px;
    position: absolute!important;
    top: 13px!important;
    right: 4px!important;
    font-weight: 100;
}

.label-darkblue {
    background-color: #001c24!important;
}

.custom-list-tab{
    background-color: #313131!important;
    border-top: #FFF;
}

.slider-pager .slider-pager-page {
    color: gray!important;
}
